@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --color-amber-500: #ffa52f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
  --font-sans: var(--font-open-mono);
}

@layer base {
  body {
    @apply text-foreground font-sans bg-background
  }
}

@utility container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto
}