@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --primary: #4A69E2;
  --gray: #E7E7E3;
}

@theme {
  --color-amber-500: #ffa52f;
  --color-gray-800: #232321cc;
  --font-size-hero: clamp(3.75rem, 0.15rem + 15.35vw, 13.969rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --font-rubik: var(--font-rubik);
  --font-sans: var(--font-open-sans);
}

@layer base {
  body {
    @apply text-foreground font-sans bg-background
  }

  h1 {
    @apply text-[13.969rem]/[1] font-bold font-rubik uppercase
  }

  h2 {
    @apply text-[4.625rem]/[.95] font-semibold font-rubik uppercase
  }

  h3 {
    @apply text-5xl/[1] font-semibold font-rubik uppercase
  }

  h4 {
    @apply text-4xl/[1] font-semibold font-rubik
  }

  h5{
    @apply text-2xl/[1] font-semibold font-rubik
  }

  h6 {
    @apply text-base/[1] font-semibold font-rubik uppercase
  }

  input {
    @apply outline-none
  }
}

@layer components {

  .btn {
    @apply inline-flex justify-center items-center w-max h-12 text-sm/[1] font-medium font-rubik text-white tracking-[0.25px] uppercase px-8 rounded-lg
  }

  .btn-primary {
    @apply bg-primary
  }

  .btn-secondary {
    @apply bg-foreground
  }

  .footer-widget li a{
    @apply text-xl/[1] font-semibold font-sans text-gray transition-all duration-300 ease-in-out hover:text-amber-500
  }
}

@utility container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1.25rem
  }

  @variant 2xl {
    padding-inline: 0;
  }
}

@layer utilities {

  .overlay {
    @apply relative
  }

  .overlay::before{
    @apply inset-0 absolute top-0 left-0 content-[''] w-full h-full
  }
}