@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --primary: #4A69E2;
  --gray: #E7E7E3;
}

@theme {
  --breakpoint-2xl: 90rem;
  --color-amber-500: #ffa52f;
  --color-gray-800: #232321cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --font-rubik: var(--font-rubik);
  --font-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);
}

@layer base {
  body {
    @apply text-foreground font-sans bg-background
  }

  h1 {
    font-size: clamp(3.45rem, -0.056rem + 15.584vw, 13.969rem);
    line-height: 1.18570;
    @apply font-bold font-rubik uppercase
  }

  h2 {
    font-size: clamp(1.375rem, 0.292rem + 4.815vw, 4.625rem);
    @apply leading-none sm:leading-[.95] font-semibold font-rubik sm:uppercase
  }

  h3 {
    @apply text-[32px]/[1.1875] sm:text-5xl/[1.1875] font-semibold font-rubik sm:uppercase
  }

  h4 {
    @apply text-2xl/[1.167] sm:text-4xl/[1.1945] font-semibold font-rubik
  }

  h5{
    @apply text-xl/[1.2] sm:text-2xl/[1.125] font-semibold font-rubik
  }

  h6 {
    @apply text-base/[1] font-semibold font-rubik uppercase
  }

  input {
    @apply outline-none
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer
  }
}

@layer components {

  .btn {
    @apply inline-flex justify-center items-center w-max h-10 sm:h-12 text-sm font-medium font-rubik text-white tracking-[0.25px] uppercase px-4 sm:px-8 rounded-lg
  }

  .btn-primary {
    @apply bg-primary
  }

  .btn-secondary {
    @apply bg-foreground
  }

  .navigation-btns {
    @apply absolute -top-14 sm:-top-18.5 right-0 flex items-center gap-2 lg:gap-4
  }

  .nav-btn {
    @apply inline-flex justify-center items-center w-8 sm:w-10 h-8 sm:h-10 text-white bg-foreground rounded-lg transition-colors duration-300 hover:bg-primary
  }

  .nav-btn.swiper-button-disabled {
    @apply cursor-not-allowed bg-[#858582] hover:bg-[#858582]
  }

  .product-thumbMainSlider .swiper-pagination{
    @apply left-1/2! bottom-3.5! inline-flex justify-center items-center w-max! bg-white! rounded-sm px-2 py-1 -translate-x-1/2!
  }

  .swiper-pagination-bullet{
    @apply relative w-1.5 h-1.5 bg-[#23232166]! opacity-100!
  }

  .swiper-pagination-bullet-active{
    @apply bg-primary!
  }

  .custom-pagination-bullet {
    @apply relative w-8 sm:w-10 h-1 sm:h-1.5 bg-[#23232140] rounded-lg cursor-pointer overflow-hidden transition-all duration-300 ease-in
  }

  .custom-pagination-bullet::before {
    @apply absolute top-0 left-0 w-full h-full content-[''] bg-primary rounded-lg -translate-x-full translate-y-0;
  }

  .custom-pagination-bullet-active::before {
    @apply translate-x-0;
    animation: bullet-fill-loading 3s ease-in-out;
  }

  .footer-widget li a{
    @apply text-base/snug sm:text-xl/snug font-semibold font-sans text-gray transition-all duration-300 ease-in-out hover:text-amber-500
  }
}

@utility container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1.25rem
  }

  @variant 2xl {
    padding-inline: 0;
  }
}

@layer utilities {

  *::-webkit-scrollbar {
    @apply w-1.75 h-1.5
  }

  div::-webkit-scrollbar {
    @apply w-1 h-1
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded bg-primary;
  }

  .overlay {
    @apply relative
  }

  .overlay::before{
    @apply inset-0 absolute top-0 left-0 content-[''] w-full h-full z-10
  }

  .container-left {
    padding-inline: 1rem;

    @media (min-width: 640px) {
      padding-inline: 1.25rem;
    }

    @media (min-width: 768px) {
      padding-left: 1.25rem;
      padding-right: 0;
    }

    @media (min-width: 1320px) {
      padding-left: calc(((100vw - 1320px) / 2) + 1.25rem);
    }

    @media (min-width: 1440px) {
      padding-left: calc((100vw - 1320px) / 2);
    }
  }

  .navigation-btns-right {
    right: 1rem;

    @media (min-width: 640px) {
      right: 1.25rem;
    }

    @media (min-width: 1320px) {
      right: calc(((100vw - 1320px) / 2) + 1.25rem);
    }

    @media (min-width: 1440px) {
      right: calc((100vw - 1320px) / 2);
    }
  }
}


@keyframes bullet-fill-loading {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

