@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --primary: #4A69E2;
  --gray: #E7E7E3;
  --color-amber-500: #ffa52f;
  --color-gray-800: #232321cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --font-rubik: var(--font-rubik);
  --font-sans: var(--font-open-sans);
}

@layer base {
  body {
    @apply text-foreground font-sans bg-background
  }

  h2 {
    @apply text-[74px]/[95%] font-semibold font-rubik uppercase
  }

  h3 {
    @apply text-5xl/[1] font-semibold font-rubik uppercase
  }

  h5{
    @apply text-2xl/[1] font-semibold font-rubik
  }

  input {
    @apply outline-none
  }
}

@layer components {

  .btn {
    @apply inline-flex justify-center items-center w-max h-12 text-sm/[1] font-medium font-rubik text-white tracking-[0.25px] uppercase px-8 rounded-lg
  }

  .btn-primary {
    @apply bg-primary
  }

  .btn-secondary {
    @apply bg-foreground
  }

  .footer-widget li a{
    @apply text-xl/[1] font-semibold font-sans text-gray transition-all duration-300 ease-in-out hover:text-amber-500
  }
}

@utility container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto
}